# Project Title
This project aims to ....

Our data was sourced through **Datahub.io**'s public COVID19 dataset (https://datahub.io/core/covid-19#data) which come from various sources most notably from John Hopkins University.

In [22]:
# Download the Data Set
!curl https://covid.ourworldindata.org/data/owid-covid-data.csv --output owid_covid19.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  4 2239k    4  102k    0     0   102k      0  0:00:21 --:--:--  0:00:21  111k
100 2239k  100 2239k    0     0  2239k      0  0:00:01  0:00:01 --:--:-- 1235k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  5 14.1M    5  848k    0     0   848k      0  0:00:17  0:00:01  0:00:16  775k
 14 14.1M   14 2047k    0     0  1023k      0  0:00:14  0:00:02  0:00:12  985k
 22 14.1M   22 3279k    0     0  1093k      0  0:00:13  0:00:03  0:00:10 1065k
 31 14.1M   31 4495k    0     0  1123k      0  0:00:12  0:00:04  0:00:08 1102k
 39 14.1M   39 5727k    0     0  1145k      0  0:00:12  0:00:05  0:00:07 1152k
 47 14.1M   47 6943k    0     0  1157k      0  0:00:12  0:00:06  0:00:06 1222k
 56 14.1M   56 8175k    0     0  1167k      0  0:00:12  0:00:07  0:00:05 1225k
 64 14.1M   64 9407k    0     0  1175k      0  0:00:12  0:00:08  0:00:04 1225k
 73 14.1M   73 10.3M    0     0  1180k      0  0:00:12  0:00:09  0:00:03 1225k
 81 14.1M   81 11.5M    0     0  1185k      0  0:00:12  0:00:10  0:00:02 1225k
 90 14.1M   90 12.7M    0     0  1188k      0  0:00:12  0:00:11  0:00:01 1225k
 98 14.1M   98 13.9M    0     0  1191k      0  0:00:12  0:00:12 --:--:-- 1225k
100 14.1M  100 14.1M    0     0  1207k      0  0:00:12  0:00:12 --:--:-- 1228k

In [23]:
# Import libraries
import pandas as pd

In [26]:
covid_data = pd.read_csv('owid_covid19.csv')
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

confirmed / population * 1,000,000