# Project Title
This project aims to ....

Our data was sourced through **Datahub.io**'s public COVID19 dataset (https://datahub.io/core/covid-19#data) which come from various sources most notably from John Hopkins University.

In [19]:
# Download the Data Set
!curl https://pkgstore.datahub.io/core/covid-19/countries-aggregated_csv/data/2fb040c00c50d21fa5bcc3f0807a876e/countries-aggregated_csv.csv --output covid19data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 2239k  100 2239k    0     0  2239k      0  0:00:01 --:--:--  0:00:01 3408k

In [20]:
# Import libraries
import pandas as pd

In [21]:
data = pd.read_csv('covid19data.csv')
data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [22]:
data.describe()

          Confirmed     Recovered         Deaths
count  6.780500e+04  6.780500e+04   67805.000000
mean   1.254489e+05  7.709774e+04    3570.761419
std    7.606908e+05  4.641398e+05   17593.591635
min    0.000000e+00  0.000000e+00       0.000000
25%    5.500000e+01  1.300000e+01       0.000000
50%    2.312000e+03  1.115000e+03      48.000000
75%    3.093600e+04  1.563600e+04     583.000000
max    2.240675e+07  1.009291e+07  374322.000000